body {
    font-family: 'Lato', sans-serif;
}

a {
    text-decoration: none;
    color: rgb(0, 140, 255);
}

h1 {
    text-align: center;
}

#search-container {
    display: flex;
    padding-left: 20px;
    padding-right: 20px;
}

#search-results-container {
    margin-top: 8px;
    display: flex;
    flex-direction: column;
    width: 100%;
}

#results-list {
    list-style-type: none;
    padding: 20px;
}

.list-item {
    padding: 10px;
    border-bottom: 1px solid rgba(180, 178, 178, 0.5);
    display: flex;
    align-items: center;
}

.company-image {
    height: 30px;
    margin-right: 15px;
}

.negative-price {
    color: red !important;
}

.positive-price {
    color: rgb(27, 206, 27) !important;
}

.list-item-price {
    font-size: 11px;
    color: lightslategrey;
}
.result-link {
    margin-right: 15px;
}

.list-item:last-child {
    border-bottom: 0;
}

#search-bar {
    width: 100%;
    padding: 8px;
    border: 1px solid rgba(104, 103, 109, 0.363);
}

#search-button {
    background: white;
    color: white;
    border: 1px solid rgba(104, 103, 109, 0.849);
    background-color: rgb(35, 128, 214);
}

#loader {
    margin-left: auto;
    margin-right: auto;
    margin-top: 8px;
    border: 8px solid rgb(180, 180, 180);
    border-radius: 50%;
    border-top: 8px solid rgba(24, 27, 29, 0.87);
    width: 20px;
    height: 20px;
    animation: spinner 1s linear infinite;
}

@keyframes spinner {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
} 

#marquee {
    height: 12px;
}

#marquee p {
    animation: marquee 100s linear infinite;
    white-space: nowrap;
}

@keyframes marquee {
    0% {
        transform: translateX(0%);
    }
    
    100% {
        transform: translateX(-200%);
    }
}
