a {
    text-decoration: none;
}

mark {
    padding: 0;
    background-color: yellow;
}

#search-container {
    display: flex;
    padding-left: 20px;
    padding-right: 20px;
}

#search-bar {
    width: 100%;
    padding: 8px;
    border: 1px solid rgba(104, 103, 109, 0.363);
}

#results-list {
    list-style-type: none;
    padding: 20px;
}

.company-image {
    height: 30px;
    margin-right: 15px;
}

.negative-price {
    color: red !important;
}

.positive-price {
    color: rgb(27, 206, 27) !important;
}

.list-item-price {
    font-size: 11px;
    color: lightslategrey;
}

.result-link {
    margin-right: 15px;
}

#marquee {
    height: 18px;
    overflow-x: hidden;
}

#marquee p {
    animation: marquee 150s linear infinite;
    white-space: nowrap;
}

@keyframes marquee {
    0% {
        transform: translateX(0%);
    }
    
    100% {
        transform: translateX(-100%);
    }
}
